absl-py
accelerate
bitsandbytes
datasets
duckduckgo-search
evaluate
pandas
numpy
matplotlib
peft
pandoc
rouge_score
six
scapy
spacy
scikit-learn
torch
torchtext==0.6
trl
transformers
ipykernel
ipywidgets
jupyterlab
nbconvert
yake
nltk
